body{
    display:flex;
    flex-direction: column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

header{
    background-color: blue;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choices{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.choice{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: solid black 3px;
    
}

.scores{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: blue;
    color: white;
}

button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}